# 실기 작업형 1유형
boston housing 데이터 셋에서
crim 항목의 상위 10번째 값으로 상위 10개 값을 변환하고 age 80이상인 값에 대해
crim 평균을 구하라

* df.sort_values는  pandas sort 하는법임

In [61]:
import sklearn.datasets
import pandas as pd
from sklearn.datasets import load_boston
# data call
df = pd.DataFrame(load_boston().data, columns = load_boston().feature_names)
df['target'] = load_boston().target

In [11]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'target'],
      dtype='object')

1. 내림차순으로 crime 데이터  sorting
2. 10번째 값으로 상위 10개 데이터 변환
3. age 80 이상인 crime 데이터만 추출,
4. crime 평균값 출력

In [60]:
df = df.sort_values(by = ['CRIM'], ascending = False)
df = df.reset_index(drop=True)
t = df['CRIM'].values[9]
df.iloc[:10,0] = t
data = df[df['AGE'] > 80]
data['CRIM'].mean()

5.759386625

In [41]:
data = df[df['AGE'] > 80]
crime = data['CRIM'].values
crime = sorted(crime, reverse = True)
t = crime[8]
for i in range(10):
    crime[i] = t

<br>
<br>

2. 데이터 위에서부터 80% 데이터를 train data로 추출 후 total_bedrooms의
결측값(NA)를 중앙값으로 대체하고, 대체전의 total_bedrooms 변수 표준편차 값의 차이의 절대값을 구하시오

In [85]:
import sklearn.datasets
import pandas as pd
from sklearn.datasets import fetch_california_housing
# data call

path = 'C:/Users/100do/python/승혜/archive/california_housing/'
df = pd.read_csv(path + 'housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [86]:
t = len(df)*0.8  # 반올림해서 405개를 train data로 만들지
train = df.iloc[:int(t),:]
train.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        159
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [90]:
train2 = train.fillna(train.median())
train2.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [91]:
import numpy as np
np.abs(train2['total_bedrooms'].std() - train['total_bedrooms'].std())

1.9751472916456692

<br>
<br>

3. insurance dataset에서 charges 항목의 이상값의 합을 구하기  <br>
이상값: 평군에서 1.5표준편차 이상인 값

In [104]:
path = 'C:/Users/100do/python/승혜/archive/'
df = pd.read_csv(path + 'insurance.csv')

up = df.mean() + df.std()*1.5
down = df.mean() - df.std()*1.5

df2 = df[(df>up) | (df < down)]
df2

<ipython-input-104-88e082962e30>:7: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  df2 = df[(df>up) | (df < down)]
<ipython-input-104-88e082962e30>:7: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  df2 = df[(df>up) | (df < down)]

       age  sex  bmi  children smoker region  charges
0      NaN  NaN  NaN       NaN    NaN    NaN      NaN
1     18.0  NaN  NaN       NaN    NaN    NaN      NaN
2      NaN  NaN  NaN       3.0    NaN    NaN      NaN
3      NaN  NaN  NaN       NaN    NaN    NaN      NaN
4      NaN  NaN  NaN       NaN    NaN    NaN      NaN
...    ...  ...  ...       ...    ...    ...      ...
1333   NaN  NaN  NaN       3.0    NaN    NaN      NaN
1334  18.0  NaN  NaN       NaN    NaN    NaN      NaN
1335  18.0  NaN  NaN       NaN    NaN    NaN      NaN
1336   NaN  NaN  NaN       NaN    NaN    NaN      NaN
1337  61.0  NaN  NaN       NaN    NaN    NaN      NaN

[1338 rows x 7 columns]

In [105]:
data =df2['charges']
data

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1333   NaN
1334   NaN
1335   NaN
1336   NaN
1337   NaN
Name: charges, Length: 1338, dtype: float64

In [106]:
data.sum()

6421430.02067

In [107]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]